.app {
    background: var(--background-2);
    display: flex;
    height: 100vh;
    padding: 1rem;
    width: 100%;

    &-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: auto;
        width: 100%;
    }
}

.output {
    background-color: var(--white);
    border: 1px solid #e7e7e7;
    height: 5rem;
    margin: 0px auto;
    padding: 0.75rem 1rem;
    text-align: end;
    width: 22rem;
}

.input {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin: 0px auto;

    &-num {
        display: grid;
        grid-column: 1/4;
        grid-row: 1/5;
        grid-template-columns: repeat(3, 5.5rem);
        grid-template-rows: minmax(6rem, auto) repeat(3, 6rem);
    }

    &-right {
        display: grid;
        grid-row: 1/5;
        grid-template-columns: repeat(1, 5.5rem);

        & p {
            color: #1a73e9;
            font-weight: 600 !important;
        }
    }
}

.operand {
    &-previous {
        font-size: 1.1rem;
        font-weight: 400;
        opacity: 0.9;
    }

    &-current {
        font-size: 1.5rem;
        font-weight: 600;
    }

    &-btn {
        background-color: var(--background-1);
        border: 1px solid #e7e7e7;

        &-del {
            font-size: 1.1rem !important;
            padding: 0.6rem 0px;
        }

        & p {
            font-size: 1.25rem;
            font-weight: 500;
            transition: transform 0.25s ease;
        }

        &:hover {
            background-color: var(--hover);
        }
    }
}

.operand-btn:hover .operand-btn-p {
    transform: scale(0.95);
}

.operand-btn:active .operand-btn-p {
    transform: scale(1.1);
}

@media (max-width: 700px) {
    .input-num {
        overflow-x: scroll;
    }
}
